/ p#notice = notice
/
/ p
/   strong Headline:
/   = @image.headline
/ p
/   strong Order:
/   = @image.order
/ p
/   strong Url image:
/   = @image.url_image
img {src =@image.url_image}
=> link_to 'Edit', edit_image_path(@image)
/ '|
/ =< link_to 'Back', images_path
